
<h2>Marcas Cadastradas</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tabelaMarcas">
        <tr>
            <td>1</td>
            <td>Marca A</td>
            <td>
                <button type="submit" class="btn btn-primary">Editar</button>
            </td>
    </tbody>
</table>
<button type="button" class="btn btn-primary">Cadastrar Nova Marca</button>
<button type="button" class="btn btn-primary">Voltar</button>