
<form>
    <div class="form-group">

        <h2>Editar Marca</h2>
        <input type="text" class="form-control" name="marca" id="marca" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="submit" class="btn btn-primary">Cancelar</button>

</form>