﻿

<div id="div-grid-marcas"></div> <!-- Aqui sera reenderizado Lista de marcas existentes-->
<div id="div-add-marca"></div> <!-- Aqui sera reenderizado tela de adicionar  nova marca-->
<div id="div-editar-marca "></div> <!-- Aqui sera reenderizado tela de editar  marca existente-->